src/jade/doc/_nav.jade
nav#nav-doc.b-nav-doc
    ul.b-nav-doc__list
        li.b-nav-doc__item
            span.b-nav-doc__link Примитивы
            ul.b-nav-doc__sublist.is-close-submenu
                li.b-nav-doc__subitem
                    a(href="/html/doc/popup.html").b-nav-doc__sublink Попап
                li.b-nav-doc__subitem
                    a(href="/html/doc/gallery.html").b-nav-doc__sublink Галерея
                li.b-nav-doc__subitem
                    a(href="/html/doc/tabs.html").b-nav-doc__sublink Табы
                li.b-nav-doc__subitem
                    a(href="/html/doc/map.html").b-nav-doc__sublink Карта
                li.b-nav-doc__subitem
                    span.b-nav-doc__sublink Формы
                    ul.b-nav-doc__sublist.is-close-submenu
                        li.b-nav-doc__subitem
                            a(href="/html/doc/forms.html#forms-text-fields").b-nav-doc__sublink Текстовые поля
                        li.b-nav-doc__subitem
                            a(href="/html/doc/forms.html#forms-label").b-nav-doc__sublink Лейблы
                        li.b-nav-doc__subitem
                            a(href="/html/doc/forms.html#forms-animated-label").b-nav-doc__sublink Анимированный label
                        li.b-nav-doc__subitem
                            a(href="/html/doc/forms.html#forms-checkbox").b-nav-doc__sublink Чекбоксы
                        li.b-nav-doc__subitem
                            a(href="/html/doc/forms.html#forms-radio-buttons").b-nav-doc__sublink Радио кнопки
                        li.b-nav-doc__subitem
                            a(href="/html/doc/forms.html#forms-select").b-nav-doc__sublink Селект
                li.b-nav-doc__subitem
                    span.b-nav-doc__sublink Навигация
                    ul.b-nav-doc__sublist.is-close-submenu
                        li.b-nav-doc__subitem
                            a(href="/html/doc/nav.html#nav-signle").b-nav-doc__sublink Одноуровневая
                        li.b-nav-doc__subitem
                            a(href="/html/doc/nav.html#nav-multi").b-nav-doc__sublink Многоуровневая

www/html/doc/_nav.html
<nav id="nav-doc" class="b-nav-doc">
    <ul class="b-nav-doc__list">
        <li class="b-nav-doc__item">
            <span class="b-nav-doc__link">Примитивы</span>
            <ul class="b-nav-doc__sublist is-close-submenu">
                <li class="b-nav-doc__subitem">
                    <a href="/html/doc/popup.html" class="b-nav-doc__sublink">Попап</a>
                </li>
                <li class="b-nav-doc__subitem">
                    <a href="/html/doc/gallery.html" class="b-nav-doc__sublink">Галерея</a>
                </li>
                <li class="b-nav-doc__subitem">
                    <a href="/html/doc/tabs.html" class="b-nav-doc__sublink">Табы</a>
                </li>
                <li class="b-nav-doc__subitem">
                    <a href="/html/doc/map.html" class="b-nav-doc__sublink">Карта</a>
                </li>
                <li class="b-nav-doc__subitem">
                    <span class="b-nav-doc__sublink">Формы</span>
                    <ul class="b-nav-doc__sublist is-close-submenu">
                        <li class="b-nav-doc__subitem">
                            <a href="/html/doc/forms.html#forms-text-fields" class="b-nav-doc__sublink">Текстовые поля</a>
                        </li>
                        <li class="b-nav-doc__subitem">
                            <a href="/html/doc/forms.html#forms-label" class="b-nav-doc__sublink">Лейблы</a>
                        </li>
                        <li class="b-nav-doc__subitem">
                            <a href="/html/doc/forms.html#forms-animated-label" class="b-nav-doc__sublink">Анимированный label</a>
                        </li>
                        <li class="b-nav-doc__subitem">
                            <a href="/html/doc/forms.html#forms-checkbox" class="b-nav-doc__sublink">Чекбоксы</a>
                        </li>
                        <li class="b-nav-doc__subitem">
                            <a href="/html/doc/forms.html#forms-radio-buttons" class="b-nav-doc__sublink">Радио кнопки</a>
                        </li>
                        <li class="b-nav-doc__subitem">
                            <a href="/html/doc/forms.html#forms-select" class="b-nav-doc__sublink">Селект</a>
                        </li>
                    </ul>
                </li>
                <li class="b-nav-doc__subitem">
                    <span class="b-nav-doc__sublink">Навигация</span>
                    <ul class="b-nav-doc__sublist is-close-submenu">
                        <li class="b-nav-doc__subitem">
                            <a href="/html/doc/nav.html#nav-signle" class="b-nav-doc__sublink">Одноуровневая</a>
                        </li>
                        <li class="b-nav-doc__subitem">
                            <a href="/html/doc/nav.html#nav-multi" class="b-nav-doc__sublink">Многоуровневая</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</nav>
