src/jade/doc/map.jade
extends _layout
block title
    title Карта
block content
    h1 Карта


    h2 Быстрая навигация по разделу
    .b-typo-reset
        ul
            li
                a(href="#map-zoom") Zoom
            li
                a(href="#map-zooms") MinZoom и maxZoom
            li
                a(href="#map-customzoom") Custom Zoom
            li
                a(href="#map-center") Center
            li
                a(href="#map-scrollwheel") Scrollwheel
            li
                a(href="#map-styles") Styles
            li
                a(href="#map-bounds") fitBounds
            li
                a(href="#map-markers") Маркеры
            li
                a(href="#map-imageBounds") imageBounds
            li
                a(href="#map-clustering") Кластеризация
            li
                a(href="#map-tab") Фильтрация (табы)
    br


    h2 Словарь
    .b-typo-reset
        ul
            li Baloon - балун - блок с большим содержанием данных (заголовок, текст, картинка, галерея)
            li Tooltip - тултип - обычно строка текста (магазин, библиотека)
            li Latitude - Lat - Широта
            li Longitude - Lng - Долгота
            li InfoWindow - стандартный балун Google maps.
            li InfoBox - библиотека для работы со стандартным infoWindow
            li fitBounds - обрезка карты по маркерам
            li imageBounds - картинка на карте
    br


    h2 Описание
    p В качестве карты используется Google Map.
        a(target="_blank" href="https://developers.google.com/maps/documentation/javascript/tutorial")  Документация.
    p Для балуна используется infoBox.
        a(target="_blank" href="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/infobox/docs/reference.html")  Документация.
    br


    h2 Использование
    h3 Jade
    pre
        | #map.j-map.b-map
    h3 HTML
    pre
        | &lt;div id="map" class="j-map b-map"&gt;&lt;/div&gt;
    br


    h2 Применение настроек
    p Настройки карте можно передавать как через дата-атрибуты.
    pre
        | &lt;div id="map" <b>data-zoom="18"</b> class="j-map b-map"&gt;&lt;/div&gt;
    p так и через глобальны Javascript объект <code>window.map</code>
    pre
        | &lt;div id="<b>map</b>" class="j-map b-map"&gt;&lt;/div&gt;
        | window.map = {}
        | window.map['<b>map</b>'] = {
        |   <b>zoom: 18</b>
        | }
    p Обрати внимние, что <code>window.map</code> нужно передавать идентификатор карты.
    p Для нескольких карт на странице код будет выглядеть следущим образом.
    pre
        | &lt;div id="<b>map1</b>" class="j-map b-map"&gt;&lt;/div&gt;
        | &lt;div id="<b>map2</b>" class="j-map b-map"&gt;&lt;/div&gt;
        | window.map = {}
        | window.map['<b>map1</b>'] = {
        |   ...
        | }
        | window.map['<b>map2</b>'] = {
        |   ...
        | }
    h3 Помни!
    p Настройки карты через дата-атрибуты всегда главнее настроек переданных через JS
    pre
        | &lt;div id="map" <b>data-zoom="20" </b>class="j-map b-map"&gt;&lt;/div&gt;
        | window.map = {}
        | window.map['map'] = {
        |   <b>zoom: 15</b>
        | }
    p На карте применится <b>zoom</b> равный <b>20</b>.
    br


    h2#map-zoom Параметры - zoom
    p Zoom - может принимать значения от 1 до 20.
    table
        tr
            td(width="200px") Значение
            td Описание
        tr
            td 1
            td мир
        tr
            td 5
            td континент
        tr
            td 10
            td город
        tr
            td 15
            td улица
        tr
            td 20
            td дом
    pre
        | &lt;div id="map" <b>data-zoom="18" </b>class="j-map b-map"&gt;&lt;/div&gt;
    br


    h2#map-zooms Параметры - minzoom и maxzoom
    p Минимальный и максимальный zoom.
    pre
        | &lt;div id="map" <b>data-minzoom="10" data-maxzoom="18"</b> class="j-map b-map"&gt;&lt;/div&gt;
    h3 Помни!
    p По-умолчанию минимальный zoom имеет значение 10 (город), а максимальный
        | 18(почти дом)
    p Это значит, что если вы указываете zoom выходящий из этого предела (10-18),
        | то zoom будет проигнорирован и показано минимальное, либо максимальное значение.
    br

    h2#map-customzoom Кастомный Zoom
    p Для того, что бы сделать кастомный zoom у карты, карту нужно обернуть <code>.l-map</code>
    p И добавить два элемента для стилизации Зума
    pre
        | &lt;div class="<b>l-map</b>"&gt;
        |   &lt;div id="map" class="j-map b-map"&gt;&lt;/div&gt;
        |   <b>&lt;a href="javascript:;" class="b-map__zoom b-map__zoom-in"&gt;+&lt;/a&gt;
        |   &lt;a href="javascript:;" class="b-map__zoom b-map__zoom-out"&gt;-&lt;/a&gt;</b>
        | &lt;/div&gt;
    br


    h2#map-center Center
    p Координаты, в которых карта будет центрироваться.
    p Первым элементом в  массиве идёт широта, вторым долгота.
    pre
        | &lt;div id="map" <b>data-center=[59.939552, 30.423428]</b> class="j-map b-map"&gt;&lt;/div&gt;
    br


    h2#map-scrollwheel Scrollwheel
    p Прокрутка карты с помощью колёсика мышки.
    pre
        | &lt;div id="map" <b>data-scrollwheel="false"</b> class="j-map b-map"&gt;&lt;/div&gt;
    table
        tr
            td Значение
            td Описание
        tr
            td true
            td (по-умолчанию) - включает прокрутку (zoom) карты колёсиком
        tr
            td false
            td отключает прокрутку
    br


    h2#map-styles Стили
    p Стили карты приходят от дизайнера. Дизайнер генерит их <a href="https://snazzymaps.com/" target="_blank">здесь</a>.
    p Настройки стилей приходят в массиве [{...}, {...}, ...].
    p Если вам эти стили потребуются на <b>всех</b> картах проекта, то вы можете массив добавить сразу в map.js
    pre
        | this.options = {
        |   styles: [{...}, {...}, ...]
        | }
    p Для определённой карты, что реже
    pre
        | &lt;div id="map" class="j-map b-map"&gt;&lt;/div&gt;
        | window.map = {}
        | window.map['map'] = {
        |   <b>styles: [{...}, {...}, ...]</b>
        | }
    br


    h2#map-bounds fitBounds
    p Обрезка карты по крайним маркерам.
    h3 HTML
    pre
        | &lt;div id="map" class="j-map b-map" <b>data-fit="true"</b>&gt;&lt;/div&gt;
    h3 JS
        pre
            | window.map = {}
            | window.map['map'] = {
            |   <b>fit: true</b>
            | }
    p При указании этого параметра, на карте начинают игнорироваться - Zoom и Center.
    br

    h2#map-markers Маркеры
    p Карта принимает JS объект маркера
    pre
        | &lt;div id="map" class="j-map b-map"&gt;&lt;/div&gt;
        | window.map = {}
        | window.map['map'] = {
        |   <b>markers: [
        |       {...}
        |   ]</b>
        | }
    p Свойства объекта маркера
    table
        tr
            td Имя
            td Описание
            td Тип
            td Пример
        tr
            td coords
            td Позиция маркера - широта и долгота
            td array
            td [59.939552, 30.423428]
        tr
            td image
            td Картинка маркера
            td string
            td '/img/markers/marker.png'
        tr
            td title
            td Заголовок для балуна
            td string
            td 'Заголовок'
        tr
            td text
            td Текст для балуна
            td string
            td 'Какой-то текст'
        tr
            td url
            td Ссылка
            td string
            td 'http://kelnik.ru'
    p При клике на маркер появляется балун.
    p При клике на маркер с url'ом происходит переход на ссылку. Внешняя ссылка открывается в новом окне.
    h3 Пример применения маркера
    pre
        | &lt;div id="map" class="j-map b-map"&gt;&lt;/div&gt;
        | window.map = {}
        | window.map['map'] = {
        |   <b>markers: [
        |       {
        |           coords: [59.939552, 30.423428],
        |           image : '/img/markers/marker.png',
        |           title : 'Заголовок',
        |           text: 'Какой-то текст'
        |       }
        |   ]</b>
        | }
    br


    h2#map-imageBounds Картинка на карте
    p Обычно используется, когда мы помещаем 3D-модель ЖК на карте
    h3 Применение
    pre
        | &lt;div id="map" class="j-map b-map"&gt;&lt;/div&gt;
        | window.map = {}
        | window.map['map'] = {
        |   <b>imageBounds: {
        |       north: 59.94013265261781,
        |       west : 30.421067476272583,
        |       south: 59.93848275563834,
        |       east : 30.425067476272583,
        |       image: '/img/groundOverlay.png',
        |       title: 'Заголовок',
        |       text: 'Какой-то текст',
        |    },</b>
        | }
    table
        tr
            td Имя
            td Описание
            td Значение
            td Пример
        tr
            td north
            td крайняя широта верхней стороны картинки
            td coords | lat
            td 59.94013265261781
        tr
            td west
            td крайняя долгота левой стороны картинки
            td coords | lng
            td 30.421067476272583
        tr
            td south
            td крайняя широта нижней стороны картинки
            td coords | lat
            td 59.93848275563834
        tr
            td east
            td крайняя долгота правой стороны картинки
            td coords | lng
            td 30.425067476272583
        tr
            td image
            td Картинка
            td string
            td '/img/groundOverlay.png'
        tr
            td title
            td Заголовок для тултипа
            td string
            td Заголовок
        tr
            td text
            td Текст для тултипа
            td string
            td Какой-то текст

    h2#map-clustering Кластеризация
    h3 Описание
    //img(src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/markerclusterer/images/m1.png")
    p Вид маркера должен быть, примерно, вот таким. Это, кстати, картинка кластера по-умолчанию.
    p Самое главное в этой картинке - это центр. В центре картинки будет цифра.
        | Поэтому центр картинки обязательно должен быть однородного цвета, а цвет цифры должен быть читаемым на фоне картинки.
    h3 Применение
    pre
        | &lt;div id="map" class="j-map b-map"&gt;&lt;/div&gt;
        | window.map = {}
        | window.map['map'] = {
        |   <b>clusterOptions : {
        |       styles: [
        |           {
        |               textColor: '#ffffff',
        |               url      : '/img/map/markers/marker.png',
        |               height   : 44,
        |               width    : 34
        |            }
        |        ]
        |   }</b>
        | }
    table
        tr
            td Имя
            td Описание
            td Тип
            td Значение
            td Пример
        tr
            td textColor
            td Цвет текста
            td color
            td hex
            td #ffffff
        tr
            td url
            td Путь до картинки
            td string
            td -
            td '/img/map/markers/marker.png'
        tr
            td height
            td Высота картинки
            td number
            td px
            td 44px
        tr
            td width
            td Ширина картинки
            td number
            td px
            td 34px

    h2#map-tab Фильтрация (tab)
    h3 HTML
    pre
        | &lt;ul class="b-map-tabs"&gt;
        |   &lt;li&gt;
        |       &lt;a href="javascript:;" <b>data-type="0"</b> class="b-map-tabs__item is-active"&gt;Все&lt;/a&gt;
        |   &lt;/li&gt;
        |   &lt;li&gt;
        |       &lt;a href="javascript:;" <b>data-type="1"</b> class="b-map-tabs__item"&gt;Библиотеки&lt;/a&gt;
        |   &lt;/li&gt;
        |   &lt;li&gt;
        |       &lt;a href="javascript:;" <b>data-type="2"</b> class="b-map-tabs__item"&gt;Школы&lt;/a&gt;
        |   &lt;/li&gt;
        | ...
        | &lt;/ul&gt;
    h3 JS
    pre
        | markers: [
        |   {
        |   ...
        |       <b>type: 1</b>
        |   },
        |   {
        |   ...
        |       <b>type: 2</b>
        |   }
    h3 Описание
    p Таб с <code>type=0</code> включает все маркеры. У маркера не может быть параметра <code>type=0</code>
    h2#map-live Вживую
    include ../blocks/map/_map

www/html/doc/map.html
<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <link rel="stylesheet" href="/scripts/lib/magnific-popup/dist/magnific-popup.css">
        <link rel="stylesheet" href="/scripts/lib/fotorama/fotorama.css">
        <link rel="stylesheet" href="/scripts/lib/slick-carousel/slick/slick.css">
        <link rel="stylesheet" href="/scripts/lib/slick-carousel/slick/slick-theme.css">
        <link rel="stylesheet" href="/scripts/lib/jquery-selectric/public/selectric.css">
        <link rel="stylesheet" href="/scripts/lib/ion.rangeSlider/css/ion.rangeSlider.css">
        <link rel="stylesheet" href="/scripts/lib/ion.rangeSlider/css/ion.rangeSlider.skinFlat.css">
        <link rel="stylesheet" href="/styles/doc.css">
        <title>Карта</title>
    </head>
    <body>
        <div class="l-nav">
            <a href="http://kelnik.ru" target="_blank" title="Кельник" class="b-kelnik">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="403.5px" height="69.3px" viewbox="0 0 403.5 69.3" style="enable-background:new 0 0 403.5 69.3;" xml:space="preserve" class="b-kelnik__img">
                    <g>
                        <path d="M10.4,67.2c0,0.4-0.3,0.6-0.6,0.6H0.6c-0.4,0-0.6-0.3-0.6-0.6V1.6C0,1.3,0.3,1,0.6,1h9.1c0.4,0,0.6,0.3,0.6,0.6V67.2z"></path>
                        <path d="M117.9,67.2c0,0.4-0.3,0.6-0.7,0.6h-8.5c-0.4,0-0.6-0.3-0.6-0.6V1.6c0-0.3,0.3-0.6,0.6-0.6h8.5c0.4,0,0.7,0.3,0.7,0.6V67.2            z"></path>
                        <path d="M210.2,67.2c0,0.4-0.3,0.6-0.6,0.6h-8.5c-0.4,0-0.6-0.3-0.6-0.6V1.7c0-0.4,0.3-0.7,0.6-0.7h8.5c0.4,0,0.6,0.3,0.6,0.7V67.2            z"></path>
                        <path d="M190.8,67.2c0,0.4-0.3,0.6-0.6,0.6h-8.5c-0.4,0-0.6-0.3-0.6-0.6V19.5c0-0.4,0.3-0.6,0.6-0.6h8.5c0.4,0,0.6,0.3,0.6,0.6            V67.2z"></path>
                        <path d="M190.8,10.3c0,0.4-0.3,0.6-0.6,0.6h-8.5c-0.4,0-0.6-0.3-0.6-0.6V1.7c0-0.4,0.3-0.7,0.6-0.7h8.5c0.4,0,0.6,0.3,0.6,0.7V10.3            z"></path>
                        <path d="M24.9,34.4c3.9-4.5,28-31.8,28.6-32.5C53.8,1.6,53.5,1,53.1,1H42c-0.3,0-0.6,0.2-0.9,0.6L16.3,30.1v8.6l24.9,28.5            c0.3,0.3,0.6,0.6,0.9,0.6h11.9c0.3,0,0.7-0.6,0.4-0.9C53.7,66.3,28.5,38.4,24.9,34.4z"></path>
                        <path d="M223.1,42.7c5-5.9,18.6-22.3,19.2-23c0.3-0.3-0.1-0.9-0.4-0.9h-9.4c-0.3,0-0.6,0.2-0.9,0.6l-15.5,19V47l16.3,20.2            c0.3,0.4,0.6,0.6,0.9,0.6h10.2c0.4,0,0.7-0.6,0.4-0.9C243.3,66.3,235.6,57.8,223.1,42.7z"></path>
                        <path d="M149.7,17.6c-5.9,0-22.2,0-22.2,22.2v27.3c0,0.4,0.3,0.6,0.6,0.6h8.5c0.4,0,0.6-0.3,0.6-0.6V38.8            c0-12.8,8.8-12.7,12.2-12.7c3.3,0,12.2,0.1,12.2,12.7v28.4c0,0.4,0.3,0.6,0.6,0.6h8.5c0.4,0,0.7-0.3,0.7-0.6V39.8            C171.4,17.6,155.8,17.6,149.7,17.6z"></path>
                        <path d="M93.6,24.2c-4-4.5-9.3-6.6-16.2-6.6c-7.1,0-12.5,2.1-16.5,6.7c-4.1,4.6-6.1,10.9-6.1,19c0,8.2,2.1,14.6,6.1,19.2            c4,4.7,9.3,6.6,16.3,6.6c5.6,0,10.2-1.2,14.2-4.3c3.9-3,6.3-7,7.3-11.9l0,0c0,0,0,0,0-0.1c0.1-0.4-0.4-0.4-0.4-0.4h-9            c-0.6,2.5-1.9,4.8-3.8,6.2c-1.9,1.4-4.9,2.3-7.7,2.3c-3.9,0-7.4-1.4-9.6-3.8c-2.2-2.4-3.8-6.3-3.7-10.9h33.8c0.7,0,1-0.4,1-1            c0.1-1.5,0.1-2,0.1-2.6C99.5,34.8,97.5,28.7,93.6,24.2z M64.6,38.8c0.3-4.1,1.8-7.5,3.8-9.7c2-2.1,5.3-3.4,8.8-3.4            c3.7,0,7.3,1.3,9.3,3.4c2,2.2,3.3,5.6,3.3,9.6H64.6z"></path>
                    </g>
                    <g>
                        <path d="M355.2,56.3c0-1.2-0.8-2.7-1.8-3.3l-20-14.2c-1-0.7-1.8-0.2-1.8,0.9v25.8c0,1.2,1,2.1,2.1,2.1H353c1.2,0,2.1-1,2.1-2.1            L355.2,56.3L355.2,56.3z"></path>
                        <path d="M285,2.1c0-1.2,1-2.1,2.2-2.1h17.6c1.2,0,2.1,1,2.1,2.1v63.4c0,1.2-1,2.1-2.1,2.1h-17.6c-1.2,0-2.2-1-2.2-2.1V2.1z"></path>
                        <path d="M355.2,11.4c0,1.2-0.8,2.7-1.8,3.3l-20,14.2c-1,0.7-1.8,0.2-1.8-0.9V2.1c0-1.2,1-2.1,2.1-2.1H353c1.2,0,2.1,1,2.1,2.1            L355.2,11.4L355.2,11.4z"></path>
                        <path d="M403.4,56.3c0-1.2-0.8-2.7-1.8-3.3l-20-14.2c-0.9-0.7-1.8-0.2-1.8,0.9v25.8c0,1.2,1,2.1,2.1,2.1h19.2c1.2,0,2.1-1,2.1-2.1            L403.4,56.3L403.4,56.3z"></path>
                        <path d="M403.4,11.4c0,1.2-0.8,2.7-1.8,3.3l-20,14.2c-0.9,0.7-1.8,0.2-1.8-0.9V2.1c0-1.2,1-2.1,2.1-2.1h19.2c1.2,0,2.1,1,2.1,2.1            L403.4,11.4L403.4,11.4z"></path>
                    </g>
                </svg>
            </a>
            <nav id="nav-doc" class="b-nav-doc">
                <ul class="b-nav-doc__list">
                    <li class="b-nav-doc__item">
                        <span class="b-nav-doc__link">Примитивы</span>
                        <ul class="b-nav-doc__sublist is-close-submenu">
                            <li class="b-nav-doc__subitem">
                                <a href="/html/doc/popup.html" class="b-nav-doc__sublink">Попап</a>
                            </li>
                            <li class="b-nav-doc__subitem">
                                <a href="/html/doc/gallery.html" class="b-nav-doc__sublink">Галерея</a>
                            </li>
                            <li class="b-nav-doc__subitem">
                                <a href="/html/doc/tabs.html" class="b-nav-doc__sublink">Табы</a>
                            </li>
                            <li class="b-nav-doc__subitem">
                                <a href="/html/doc/map.html" class="b-nav-doc__sublink">Карта</a>
                            </li>
                            <li class="b-nav-doc__subitem">
                                <span class="b-nav-doc__sublink">Формы</span>
                                <ul class="b-nav-doc__sublist is-close-submenu">
                                    <li class="b-nav-doc__subitem">
                                        <a href="/html/doc/forms.html#forms-text-fields" class="b-nav-doc__sublink">Текстовые поля</a>
                                    </li>
                                    <li class="b-nav-doc__subitem">
                                        <a href="/html/doc/forms.html#forms-label" class="b-nav-doc__sublink">Лейблы</a>
                                    </li>
                                    <li class="b-nav-doc__subitem">
                                        <a href="/html/doc/forms.html#forms-animated-label" class="b-nav-doc__sublink">Анимированный label</a>
                                    </li>
                                    <li class="b-nav-doc__subitem">
                                        <a href="/html/doc/forms.html#forms-checkbox" class="b-nav-doc__sublink">Чекбоксы</a>
                                    </li>
                                    <li class="b-nav-doc__subitem">
                                        <a href="/html/doc/forms.html#forms-radio-buttons" class="b-nav-doc__sublink">Радио кнопки</a>
                                    </li>
                                    <li class="b-nav-doc__subitem">
                                        <a href="/html/doc/forms.html#forms-select" class="b-nav-doc__sublink">Селект</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="b-nav-doc__subitem">
                                <span class="b-nav-doc__sublink">Навигация</span>
                                <ul class="b-nav-doc__sublist is-close-submenu">
                                    <li class="b-nav-doc__subitem">
                                        <a href="/html/doc/nav.html#nav-signle" class="b-nav-doc__sublink">Одноуровневая</a>
                                    </li>
                                    <li class="b-nav-doc__subitem">
                                        <a href="/html/doc/nav.html#nav-multi" class="b-nav-doc__sublink">Многоуровневая</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="l-main">
            <h1>Карта</h1>
            <h2>Быстрая навигация по разделу</h2>
            <div class="b-typo-reset">
                <ul>
                    <li>
                        <a href="#map-zoom">Zoom</a>
                    </li>
                    <li>
                        <a href="#map-zooms">MinZoom и maxZoom</a>
                    </li>
                    <li>
                        <a href="#map-customzoom">Custom Zoom</a>
                    </li>
                    <li>
                        <a href="#map-center">Center</a>
                    </li>
                    <li>
                        <a href="#map-scrollwheel">Scrollwheel</a>
                    </li>
                    <li>
                        <a href="#map-styles">Styles</a>
                    </li>
                    <li>
                        <a href="#map-bounds">fitBounds</a>
                    </li>
                    <li>
                        <a href="#map-markers">Маркеры</a>
                    </li>
                    <li>
                        <a href="#map-imageBounds">imageBounds</a>
                    </li>
                    <li>
                        <a href="#map-clustering">Кластеризация</a>
                    </li>
                    <li>
                        <a href="#map-tab">Фильтрация (табы)</a>
                    </li>
                </ul>
            </div>
            <br>
            <h2>Словарь</h2>
            <div class="b-typo-reset">
                <ul>
                    <li>Baloon — балун — блок с большим содержанием данных (заголовок, текст, картинка, галерея)</li>
                    <li>Tooltip — тултип — обычно строка текста (магазин, библиотека)</li>
                    <li>Latitude — Lat — Широта</li>
                    <li>Longitude — Lng — Долгота</li>
                    <li>InfoWindow — стандартный балун Google maps.</li>
                    <li>InfoBox — библиотека для работы со стандартным infoWindow</li>
                    <li>fitBounds — обрезка карты по маркерам</li>
                    <li>imageBounds — картинка на карте</li>
                </ul>
            </div>
            <br>
            <h2>Описание</h2>
            <p>В качестве карты используется Google Map.
                <a target="_blank" href="https://developers.google.com/maps/documentation/javascript/tutorial"> Документация.</a>
            </p>
            <p>Для балуна используется infoBox.
                <a target="_blank" href="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/infobox/docs/reference.html"> Документация.</a>
            </p>
            <br>
            <h2>Использование</h2>
            <h3>Jade</h3> <pre>#map.j-map.b-map</pre>
            <h3>HTML</h3> <pre>&lt;div id="map" class="j-map b-map"&gt;&lt;/div&gt;</pre>
            <br>
            <h2>Применение настроек</h2>
            <p>Настройки карте можно передавать как через дата-атрибуты.</p> <pre>&lt;div id="map" <b>data-zoom="18"</b> class="j-map b-map"&gt;&lt;/div&gt;</pre>
            <p>так и через глобальны Javascript объект <code>window.map</code></p> <pre>&lt;div id="<b>map</b>" class="j-map b-map"&gt;&lt;/div&gt;
window.map = {}
window.map['<b>map</b>'] = {
  <b>zoom: 18</b>
}</pre>
            <p>Обрати внимние, что <code>window.map</code> нужно передавать идентификатор карты.</p>
            <p>Для нескольких карт на странице код будет выглядеть следущим образом.</p> <pre>&lt;div id="<b>map1</b>" class="j-map b-map"&gt;&lt;/div&gt;
&lt;div id="<b>map2</b>" class="j-map b-map"&gt;&lt;/div&gt;
window.map = {}
window.map['<b>map1</b>'] = {
  ...
}
window.map['<b>map2</b>'] = {
  ...
}</pre>
            <h3>Помни!</h3>
            <p>Настройки карты через дата-атрибуты всегда главнее настроек переданных через JS</p> <pre>&lt;div id="map" <b>data-zoom="20" </b>class="j-map b-map"&gt;&lt;/div&gt;
window.map = {}
window.map['map'] = {
  <b>zoom: 15</b>
}</pre>
            <p>На карте применится
                <b>zoom</b> равный
                <b>20</b>.</p>
            <br>
            <h2 id="map-zoom">Параметры — zoom</h2>
            <p>Zoom — может принимать значения от 1 до 20.</p>
            <table>
                <tr>
                    <td width="200px">Значение</td>
                    <td>Описание</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>мир</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>континент</td>
                </tr>
                <tr>
                    <td>10</td>
                    <td>город</td>
                </tr>
                <tr>
                    <td>15</td>
                    <td>улица</td>
                </tr>
                <tr>
                    <td>20</td>
                    <td>дом</td>
                </tr>
            </table> <pre>&lt;div id="map" <b>data-zoom="18" </b>class="j-map b-map"&gt;&lt;/div&gt;</pre>
            <br>
            <h2 id="map-zooms">Параметры — minzoom и maxzoom</h2>
            <p>Минимальный и максимальный zoom.</p> <pre>&lt;div id="map" <b>data-minzoom="10" data-maxzoom="18"</b> class="j-map b-map"&gt;&lt;/div&gt;</pre>
            <h3>Помни!</h3>
            <p> По-умолчанию минимальный zoom имеет значение 10 (город), а максимальный 18(почти дом) </p>
            <p> Это значит, что если вы указываете zoom выходящий из этого предела (10-18), то zoom будет проигнорирован и показано минимальное, либо максимальное значение. </p>
            <br>
            <h2 id="map-customzoom">Кастомный Zoom</h2>
            <p>Для того, что бы сделать кастомный zoom у карты, карту нужно обернуть <code>.l-map</code></p>
            <p>И добавить два элемента для стилизации Зума</p> <pre>&lt;div class="<b>l-map</b>"&gt;
  &lt;div id="map" class="j-map b-map"&gt;&lt;/div&gt;
  <b>&lt;a href="javascript:;" class="b-map__zoom b-map__zoom-in"&gt;+&lt;/a&gt;
  &lt;a href="javascript:;" class="b-map__zoom b-map__zoom-out"&gt;-&lt;/a&gt;</b>
&lt;/div&gt;</pre>
            <br>
            <h2 id="map-center">Center</h2>
            <p>Координаты, в которых карта будет центрироваться.</p>
            <p>Первым элементом в массиве идёт широта, вторым долгота.</p> <pre>&lt;div id="map" <b>data-center=[59.939552, 30.423428]</b> class="j-map b-map"&gt;&lt;/div&gt;</pre>
            <br>
            <h2 id="map-scrollwheel">Scrollwheel</h2>
            <p>Прокрутка карты с помощью колёсика мышки.</p> <pre>&lt;div id="map" <b>data-scrollwheel="false"</b> class="j-map b-map"&gt;&lt;/div&gt;</pre>
            <table>
                <tr>
                    <td>Значение</td>
                    <td>Описание</td>
                </tr>
                <tr>
                    <td>true</td>
                    <td>(по-умолчанию) — включает прокрутку (zoom) карты колёсиком</td>
                </tr>
                <tr>
                    <td>false</td>
                    <td>отключает прокрутку</td>
                </tr>
            </table>
            <br>
            <h2 id="map-styles">Стили</h2>
            <p>Стили карты приходят от дизайнера. Дизайнер генерит их
                <a href="https://snazzymaps.com/" target="_blank">здесь</a>.</p>
            <p>Настройки стилей приходят в массиве [{…}, {…},…].</p>
            <p>Если вам эти стили потребуются на
                <b>всех</b> картах проекта, то вы можете массив добавить сразу в map.js</p> <pre>this.options = {
  styles: [{...}, {...}, ...]
}</pre>
            <p>Для определённой карты, что реже</p> <pre>&lt;div id="map" class="j-map b-map"&gt;&lt;/div&gt;
window.map = {}
window.map['map'] = {
  <b>styles: [{...}, {...}, ...]</b>
}</pre>
            <br>
            <h2 id="map-bounds">fitBounds</h2>
            <p>Обрезка карты по крайним маркерам.</p>
            <h3>HTML</h3> <pre>&lt;div id="map" class="j-map b-map" <b>data-fit="true"</b>&gt;&lt;/div&gt;</pre>
            <h3>JS <pre>window.map = {}
window.map['map'] = {
  <b>fit: true</b>
}</pre> </h3>
            <p>При указании этого параметра, на карте начинают игнорироваться — Zoom и Center.</p>
            <br>
            <h2 id="map-markers">Маркеры</h2>
            <p>Карта принимает JS объект маркера</p> <pre>&lt;div id="map" class="j-map b-map"&gt;&lt;/div&gt;
window.map = {}
window.map['map'] = {
  <b>markers: [
      {...}
  ]</b>
}</pre>
            <p>Свойства объекта маркера</p>
            <table>
                <tr>
                    <td>Имя</td>
                    <td>Описание</td>
                    <td>Тип</td>
                    <td>Пример</td>
                </tr>
                <tr>
                    <td>coords</td>
                    <td>Позиция маркера — широта и долгота</td>
                    <td>array</td>
                    <td>[59.939552, 30.423428]</td>
                </tr>
                <tr>
                    <td>image</td>
                    <td>Картинка маркера</td>
                    <td>string</td>
                    <td>'/img/markers/marker.png'</td>
                </tr>
                <tr>
                    <td>title</td>
                    <td>Заголовок для балуна</td>
                    <td>string</td>
                    <td>'Заголовок'</td>
                </tr>
                <tr>
                    <td>text</td>
                    <td>Текст для балуна</td>
                    <td>string</td>
                    <td>'Какой-то текст'</td>
                </tr>
                <tr>
                    <td>url</td>
                    <td>Ссылка</td>
                    <td>string</td>
                    <td>'http://kelnik.ru'</td>
                </tr>
            </table>
            <p>При клике на маркер появляется балун.</p>
            <p>При клике на маркер с url’ом происходит переход на ссылку. Внешняя ссылка открывается в новом окне.</p>
            <h3>Пример применения маркера</h3> <pre>&lt;div id="map" class="j-map b-map"&gt;&lt;/div&gt;
window.map = {}
window.map['map'] = {
  <b>markers: [
      {
          coords: [59.939552, 30.423428],
          image : '/img/markers/marker.png',
          title : 'Заголовок',
          text: 'Какой-то текст'
      }
  ]</b>
}</pre>
            <br>
            <h2 id="map-imageBounds">Картинка на карте</h2>
            <p>Обычно используется, когда мы помещаем 3D-модель ЖК на карте</p>
            <h3>Применение</h3> <pre>&lt;div id="map" class="j-map b-map"&gt;&lt;/div&gt;
window.map = {}
window.map['map'] = {
  <b>imageBounds: {
      north: 59.94013265261781,
      west : 30.421067476272583,
      south: 59.93848275563834,
      east : 30.425067476272583,
      image: '/img/groundOverlay.png',
      title: 'Заголовок',
      text: 'Какой-то текст',
   },</b>
}</pre>
            <table>
                <tr>
                    <td>Имя</td>
                    <td>Описание</td>
                    <td>Значение</td>
                    <td>Пример</td>
                </tr>
                <tr>
                    <td>north</td>
                    <td>крайняя широта верхней стороны картинки</td>
                    <td>coords | lat</td>
                    <td>59.94013265261781</td>
                </tr>
                <tr>
                    <td>west</td>
                    <td>крайняя долгота левой стороны картинки</td>
                    <td>coords | lng</td>
                    <td>30.421067476272583</td>
                </tr>
                <tr>
                    <td>south</td>
                    <td>крайняя широта нижней стороны картинки</td>
                    <td>coords | lat</td>
                    <td>59.93848275563834</td>
                </tr>
                <tr>
                    <td>east</td>
                    <td>крайняя долгота правой стороны картинки</td>
                    <td>coords | lng</td>
                    <td>30.425067476272583</td>
                </tr>
                <tr>
                    <td>image</td>
                    <td>Картинка</td>
                    <td>string</td>
                    <td>'/img/groundOverlay.png'</td>
                </tr>
                <tr>
                    <td>title</td>
                    <td>Заголовок для тултипа</td>
                    <td>string</td>
                    <td>Заголовок</td>
                </tr>
                <tr>
                    <td>text</td>
                    <td>Текст для тултипа</td>
                    <td>string</td>
                    <td>Какой-то текст</td>
                </tr>
            </table>
            <h2 id="map-clustering">Кластеризация</h2>
            <h3>Описание</h3>
            <!--img(src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/markerclusterer/images/m1.png")-->
            <p>Вид маркера должен быть, примерно, вот таким. Это, кстати, картинка кластера по-умолчанию.</p>
            <p> Самое главное в этой картинке — это центр. В центре картинки будет цифра. Поэтому центр картинки обязательно должен быть однородного цвета, а цвет цифры должен быть читаемым на фоне картинки. </p>
            <h3>Применение</h3> <pre>&lt;div id="map" class="j-map b-map"&gt;&lt;/div&gt;
window.map = {}
window.map['map'] = {
  <b>clusterOptions : {
      styles: [
          {
              textColor: '#ffffff',
              url      : '/img/map/markers/marker.png',
              height   : 44,
              width    : 34
           }
       ]
  }</b>
}</pre>
            <table>
                <tr>
                    <td>Имя</td>
                    <td>Описание</td>
                    <td>Тип</td>
                    <td>Значение</td>
                    <td>Пример</td>
                </tr>
                <tr>
                    <td>textColor</td>
                    <td>Цвет текста</td>
                    <td>color</td>
                    <td>hex</td>
                    <td>#ffffff</td>
                </tr>
                <tr>
                    <td>url</td>
                    <td>Путь до картинки</td>
                    <td>string</td>
                    <td>-</td>
                    <td>'/img/map/markers/marker.png'</td>
                </tr>
                <tr>
                    <td>height</td>
                    <td>Высота картинки</td>
                    <td>number</td>
                    <td>px</td>
                    <td>44px</td>
                </tr>
                <tr>
                    <td>width</td>
                    <td>Ширина картинки</td>
                    <td>number</td>
                    <td>px</td>
                    <td>34px</td>
                </tr>
            </table>
            <h2 id="map-tab">Фильтрация (tab)</h2>
            <h3>HTML</h3> <pre>&lt;ul class="b-map-tabs"&gt;
  &lt;li&gt;
      &lt;a href="javascript:;" <b>data-type="0"</b> class="b-map-tabs__item is-active"&gt;Все&lt;/a&gt;
  &lt;/li&gt;
  &lt;li&gt;
      &lt;a href="javascript:;" <b>data-type="1"</b> class="b-map-tabs__item"&gt;Библиотеки&lt;/a&gt;
  &lt;/li&gt;
  &lt;li&gt;
      &lt;a href="javascript:;" <b>data-type="2"</b> class="b-map-tabs__item"&gt;Школы&lt;/a&gt;
  &lt;/li&gt;
...
&lt;/ul&gt;</pre>
            <h3>JS</h3> <pre>markers: [
  {
  ...
      <b>type: 1</b>
  },
  {
  ...
      <b>type: 2</b>
  }</pre>
            <h3>Описание</h3>
            <p>Таб с <code>type=0</code> включает все маркеры. У маркера не может быть параметра <code>type=0</code></p>
            <h2 id="map-live">Вживую</h2>
            <div class="l-map">
                <div class="b-map">
                    <!-- если на мобилке карту нужно показывать в попапе, то ничего не меняем-->
                    <!-- если карту нужно показывать всегда выпиливаем .b-map__mobile и все внутренности-->
                    <!-- с .b-btn убираем data-noinit-->
                    <div class="b-map__mobile">
                        <div class="b-map__img"></div>
                        <div class="b-map__btn">
                            <a href="#popup-map" data-target="#map" data-theme="map" class="b-btn j-popup">Развернуть карту</a>
                        </div>
                    </div>
                    <div class="b-map__cnt">
                        <!--include _map-tabs-->
                        <div id="map" data-noinit class="j-map b-map__base"></div>
                        <a href="javascript:;" class="b-map__zoom b-map__zoom-in">+</a>
                        <a href="javascript:;" class="b-map__zoom b-map__zoom-out">-</a>
                    </div>
                </div>
            </div>
            <div id="popup-map" class="mfp-hide b-popup">
                <a href="javascript:;" title="Закрыть" class="b-popup__close">Свернуть карту</a>
                <div class="b-popup__cnt"></div>
            </div>
            <script>
                window.map = {};
                window.map['map'] = {
                    zoom: 15,
                    scrollwheel: false,
                    imageBounds:
                    {
                        north: 59.94013265261781,
                        west: 30.421067476272583,
                        south: 59.93848275563834,
                        east: 30.425067476272583,
                        image: '/img/map/groundOverlay.png',
                        icon: '/img/map/markers/marker.png',
                        coords: [59.939337, 30.423299],
                        title: 'Привет',
                        text: 'Огромный текст'
                    },
                    markers: [
                    {
                        coords: [59.936552, 30.423428],
                        image: '/img/map/markers/marker.png',
                        title: 'Заголовок',
                        text: 'Маленький текст',
                        type: 1
                    }],
                    radiuses: [
                    {
                        strokeColor: '#9acab6',
                        strokeOpacity: 0.8,
                        strokeWeight: 2,
                        fillColor: 'transparent',
                        fillOpacity: 0.35,
                        center: [59.939337, 30.423299],
                        radius: 800
                    },
                    {
                        strokeColor: '#9acab6',
                        strokeOpacity: 0.8,
                        strokeWeight: 2,
                        fillColor: 'transparent',
                        fillOpacity: 0.35,
                        center: [59.939337, 30.423299],
                        radius: 600
                    }]
                }
            </script>
        </div>
        <script src="/scripts/doc.js"></script>
        <script src="/scripts/lib/requirejs/require.min.js" data-main="/scripts/config.js"></script>
    </body>
</html>
