src/jade/doc/tabs.jade
extends _layout
block title
    title Табы
block content
    h1 Табы
    p Каркас табов лежит в jade/blocks/_tabs.jade

    h2 Пример
    pre
        |   &lt;div class="b-tabs j-tabs"&gt;
        |       &lt;div class="b-tabs__triggers"&gt;
        |           &lt;a href="javascript:;" <b>data-tab="<i>tab-1</i></b>" class="b-tabs__item <b>is-active</b>"&gt;Таб 1&lt;/a&gt;
        |           &lt;a href="javascript:;" <b>data-tab="<i>tab-second</i></b>" class="b-tabs__item"&gt;Таб 2&lt;/a&gt;
        |           &lt;a href="javascript:;" <b>data-tab="<i>tab-третий</i></b>" class="b-tabs__item <b>is-disabled</b>"&gt;Таб 3&lt;/a&gt;
        |           &lt;a href="javascript:;" <b>data-tab="<i>tab-4</i></b>" class="b-tabs__item"&gt;Таб 4&lt;/a&gt;
        |       &lt;/div&gt;
        |       &lt;ul class="b-tabs__contents"&gt;
        |           &lt;div <b>data-tab-content="<i>tab-1</i></b>" class="b-tabs__content <b>is-active</b>"&gt;111111111111&lt;/div&gt;
        |           &lt;div <b>data-tab-content="<i>tab-second</i></b>" class="b-tabs__content"&gt;222222222222&lt;/div&gt;
        |           &lt;div <b>data-tab-content="<i>tab-третий</i></b>" class="b-tabs__content"&gt;333333333333&lt;/div&gt;
        |           &lt;div <b>data-tab-content="<i>tab-4</i></b>" class="b-tabs__content"&gt;444444444444&lt;/div&gt;
        |       &lt;/ul&gt;
        |   &lt;/div&gt;

    h2 JADE
    h3 Параметры
    table
        thead
            tr
                th Имя
                th Описание
        tbody
            tr
                td data-tab
                td По этому индентификатору открывается контент
            tr
                td data-tab-content
                td Идентификатор контента

    h2 SASS
    h3 Параметры - таб
    table
        thead
            tr
                th Имя
                th Описание
                th Тип
                th Зн.
                th По-умолчанию
        tbody
            tr
                td $tabs-color
                td Цвет текста
                td color
                td -
                td #337ab7
            tr
                td $tabs-tab-background
                td Фон таба
                td color
                td -
                td $white
            tr
                td $tabs-font-size
                td Тип попапа
                td Размер текста
                td px
                td 16px
            tr
                td $tabs-font-family
                td Шрифт
                td string
                td -
                td $font-bold
            tr
                td $tabs-border-radius
                td Радиус скругления
                td number
                td px
                td 3px
            tr
                td $tabs-border-size
                td Размер бордера
                td number
                td px
                td 1px
            tr
                td $tabs-border-color
                td Цвет бордера
                td color
                td -
                td #eee
            tr
                td $tabs-horizontal-padding:
                td Горизонтальные паддинги
                td number
                td px
                td 10px
            tr
                td $tabs-height
                td Высота таба
                td number
                td rhythm unit
                td 1.5


    h3 Параметры - активный таб (active)
    table
        thead
            tr
                th Имя
                th Описание
                th Тип
                th Зн.
                th По-умолчанию
        tbody
            tr
                td $tabs-color-active
                td Цвет тектса
                td color
                td -
                td #337ab7
            tr
                td $tabs-background-color-active
                td Фон таба
                td color
                td -
                td #e6e6e6

    h3 Параметры - неактивный (disabled)
    table
        thead
            tr
                th Имя
                th Описание
                th Тип
                th Зн.
                th По-умолчанию
        tbody
            tr
                td $tabs-color-disabled
                td Цвет тектса
                td color
                td -
                td #eee
            tr
                td $tabs-background-color-disabled
                td Фон таба
                td color
                td -
                td #ddd

    h3 Параметры - контент
    table
        thead
            tr
                th Имя
                th Описание
                th Тип
                th Зн.
                th По-умолчанию
        tbody
            tr
                td $tabs-content-paddings
                td Внутренний отступ внутри контента
                td number
                td px
                td 20px



    h3 Вживую
    include ../blocks/_tabs

www/html/doc/tabs.html
<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <link rel="stylesheet" href="/scripts/lib/magnific-popup/dist/magnific-popup.css">
        <link rel="stylesheet" href="/scripts/lib/fotorama/fotorama.css">
        <link rel="stylesheet" href="/scripts/lib/slick-carousel/slick/slick.css">
        <link rel="stylesheet" href="/scripts/lib/slick-carousel/slick/slick-theme.css">
        <link rel="stylesheet" href="/scripts/lib/jquery-selectric/public/selectric.css">
        <link rel="stylesheet" href="/scripts/lib/ion.rangeSlider/css/ion.rangeSlider.css">
        <link rel="stylesheet" href="/scripts/lib/ion.rangeSlider/css/ion.rangeSlider.skinFlat.css">
        <link rel="stylesheet" href="/styles/doc.css">
        <title>Табы</title>
    </head>
    <body>
        <div class="l-nav">
            <a href="http://kelnik.ru" target="_blank" title="Кельник" class="b-kelnik">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="403.5px" height="69.3px" viewbox="0 0 403.5 69.3" style="enable-background:new 0 0 403.5 69.3;" xml:space="preserve" class="b-kelnik__img">
                    <g>
                        <path d="M10.4,67.2c0,0.4-0.3,0.6-0.6,0.6H0.6c-0.4,0-0.6-0.3-0.6-0.6V1.6C0,1.3,0.3,1,0.6,1h9.1c0.4,0,0.6,0.3,0.6,0.6V67.2z"></path>
                        <path d="M117.9,67.2c0,0.4-0.3,0.6-0.7,0.6h-8.5c-0.4,0-0.6-0.3-0.6-0.6V1.6c0-0.3,0.3-0.6,0.6-0.6h8.5c0.4,0,0.7,0.3,0.7,0.6V67.2            z"></path>
                        <path d="M210.2,67.2c0,0.4-0.3,0.6-0.6,0.6h-8.5c-0.4,0-0.6-0.3-0.6-0.6V1.7c0-0.4,0.3-0.7,0.6-0.7h8.5c0.4,0,0.6,0.3,0.6,0.7V67.2            z"></path>
                        <path d="M190.8,67.2c0,0.4-0.3,0.6-0.6,0.6h-8.5c-0.4,0-0.6-0.3-0.6-0.6V19.5c0-0.4,0.3-0.6,0.6-0.6h8.5c0.4,0,0.6,0.3,0.6,0.6            V67.2z"></path>
                        <path d="M190.8,10.3c0,0.4-0.3,0.6-0.6,0.6h-8.5c-0.4,0-0.6-0.3-0.6-0.6V1.7c0-0.4,0.3-0.7,0.6-0.7h8.5c0.4,0,0.6,0.3,0.6,0.7V10.3            z"></path>
                        <path d="M24.9,34.4c3.9-4.5,28-31.8,28.6-32.5C53.8,1.6,53.5,1,53.1,1H42c-0.3,0-0.6,0.2-0.9,0.6L16.3,30.1v8.6l24.9,28.5            c0.3,0.3,0.6,0.6,0.9,0.6h11.9c0.3,0,0.7-0.6,0.4-0.9C53.7,66.3,28.5,38.4,24.9,34.4z"></path>
                        <path d="M223.1,42.7c5-5.9,18.6-22.3,19.2-23c0.3-0.3-0.1-0.9-0.4-0.9h-9.4c-0.3,0-0.6,0.2-0.9,0.6l-15.5,19V47l16.3,20.2            c0.3,0.4,0.6,0.6,0.9,0.6h10.2c0.4,0,0.7-0.6,0.4-0.9C243.3,66.3,235.6,57.8,223.1,42.7z"></path>
                        <path d="M149.7,17.6c-5.9,0-22.2,0-22.2,22.2v27.3c0,0.4,0.3,0.6,0.6,0.6h8.5c0.4,0,0.6-0.3,0.6-0.6V38.8            c0-12.8,8.8-12.7,12.2-12.7c3.3,0,12.2,0.1,12.2,12.7v28.4c0,0.4,0.3,0.6,0.6,0.6h8.5c0.4,0,0.7-0.3,0.7-0.6V39.8            C171.4,17.6,155.8,17.6,149.7,17.6z"></path>
                        <path d="M93.6,24.2c-4-4.5-9.3-6.6-16.2-6.6c-7.1,0-12.5,2.1-16.5,6.7c-4.1,4.6-6.1,10.9-6.1,19c0,8.2,2.1,14.6,6.1,19.2            c4,4.7,9.3,6.6,16.3,6.6c5.6,0,10.2-1.2,14.2-4.3c3.9-3,6.3-7,7.3-11.9l0,0c0,0,0,0,0-0.1c0.1-0.4-0.4-0.4-0.4-0.4h-9            c-0.6,2.5-1.9,4.8-3.8,6.2c-1.9,1.4-4.9,2.3-7.7,2.3c-3.9,0-7.4-1.4-9.6-3.8c-2.2-2.4-3.8-6.3-3.7-10.9h33.8c0.7,0,1-0.4,1-1            c0.1-1.5,0.1-2,0.1-2.6C99.5,34.8,97.5,28.7,93.6,24.2z M64.6,38.8c0.3-4.1,1.8-7.5,3.8-9.7c2-2.1,5.3-3.4,8.8-3.4            c3.7,0,7.3,1.3,9.3,3.4c2,2.2,3.3,5.6,3.3,9.6H64.6z"></path>
                    </g>
                    <g>
                        <path d="M355.2,56.3c0-1.2-0.8-2.7-1.8-3.3l-20-14.2c-1-0.7-1.8-0.2-1.8,0.9v25.8c0,1.2,1,2.1,2.1,2.1H353c1.2,0,2.1-1,2.1-2.1            L355.2,56.3L355.2,56.3z"></path>
                        <path d="M285,2.1c0-1.2,1-2.1,2.2-2.1h17.6c1.2,0,2.1,1,2.1,2.1v63.4c0,1.2-1,2.1-2.1,2.1h-17.6c-1.2,0-2.2-1-2.2-2.1V2.1z"></path>
                        <path d="M355.2,11.4c0,1.2-0.8,2.7-1.8,3.3l-20,14.2c-1,0.7-1.8,0.2-1.8-0.9V2.1c0-1.2,1-2.1,2.1-2.1H353c1.2,0,2.1,1,2.1,2.1            L355.2,11.4L355.2,11.4z"></path>
                        <path d="M403.4,56.3c0-1.2-0.8-2.7-1.8-3.3l-20-14.2c-0.9-0.7-1.8-0.2-1.8,0.9v25.8c0,1.2,1,2.1,2.1,2.1h19.2c1.2,0,2.1-1,2.1-2.1            L403.4,56.3L403.4,56.3z"></path>
                        <path d="M403.4,11.4c0,1.2-0.8,2.7-1.8,3.3l-20,14.2c-0.9,0.7-1.8,0.2-1.8-0.9V2.1c0-1.2,1-2.1,2.1-2.1h19.2c1.2,0,2.1,1,2.1,2.1            L403.4,11.4L403.4,11.4z"></path>
                    </g>
                </svg>
            </a>
            <nav id="nav-doc" class="b-nav-doc">
                <ul class="b-nav-doc__list">
                    <li class="b-nav-doc__item">
                        <span class="b-nav-doc__link">Примитивы</span>
                        <ul class="b-nav-doc__sublist is-close-submenu">
                            <li class="b-nav-doc__subitem">
                                <a href="/html/doc/popup.html" class="b-nav-doc__sublink">Попап</a>
                            </li>
                            <li class="b-nav-doc__subitem">
                                <a href="/html/doc/gallery.html" class="b-nav-doc__sublink">Галерея</a>
                            </li>
                            <li class="b-nav-doc__subitem">
                                <a href="/html/doc/tabs.html" class="b-nav-doc__sublink">Табы</a>
                            </li>
                            <li class="b-nav-doc__subitem">
                                <a href="/html/doc/map.html" class="b-nav-doc__sublink">Карта</a>
                            </li>
                            <li class="b-nav-doc__subitem">
                                <span class="b-nav-doc__sublink">Формы</span>
                                <ul class="b-nav-doc__sublist is-close-submenu">
                                    <li class="b-nav-doc__subitem">
                                        <a href="/html/doc/forms.html#forms-text-fields" class="b-nav-doc__sublink">Текстовые поля</a>
                                    </li>
                                    <li class="b-nav-doc__subitem">
                                        <a href="/html/doc/forms.html#forms-label" class="b-nav-doc__sublink">Лейблы</a>
                                    </li>
                                    <li class="b-nav-doc__subitem">
                                        <a href="/html/doc/forms.html#forms-animated-label" class="b-nav-doc__sublink">Анимированный label</a>
                                    </li>
                                    <li class="b-nav-doc__subitem">
                                        <a href="/html/doc/forms.html#forms-checkbox" class="b-nav-doc__sublink">Чекбоксы</a>
                                    </li>
                                    <li class="b-nav-doc__subitem">
                                        <a href="/html/doc/forms.html#forms-radio-buttons" class="b-nav-doc__sublink">Радио кнопки</a>
                                    </li>
                                    <li class="b-nav-doc__subitem">
                                        <a href="/html/doc/forms.html#forms-select" class="b-nav-doc__sublink">Селект</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="b-nav-doc__subitem">
                                <span class="b-nav-doc__sublink">Навигация</span>
                                <ul class="b-nav-doc__sublist is-close-submenu">
                                    <li class="b-nav-doc__subitem">
                                        <a href="/html/doc/nav.html#nav-signle" class="b-nav-doc__sublink">Одноуровневая</a>
                                    </li>
                                    <li class="b-nav-doc__subitem">
                                        <a href="/html/doc/nav.html#nav-multi" class="b-nav-doc__sublink">Многоуровневая</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="l-main">
            <h1>Табы</h1>
            <p>Каркас табов лежит в jade/blocks/_tabs.jade</p>
            <h2>Пример</h2> <pre>  &lt;div class="b-tabs j-tabs"&gt;
      &lt;div class="b-tabs__triggers"&gt;
          &lt;a href="javascript:;" <b>data-tab="<i>tab-1</i></b>" class="b-tabs__item <b>is-active</b>"&gt;Таб 1&lt;/a&gt;
          &lt;a href="javascript:;" <b>data-tab="<i>tab-second</i></b>" class="b-tabs__item"&gt;Таб 2&lt;/a&gt;
          &lt;a href="javascript:;" <b>data-tab="<i>tab-третий</i></b>" class="b-tabs__item <b>is-disabled</b>"&gt;Таб 3&lt;/a&gt;
          &lt;a href="javascript:;" <b>data-tab="<i>tab-4</i></b>" class="b-tabs__item"&gt;Таб 4&lt;/a&gt;
      &lt;/div&gt;
      &lt;ul class="b-tabs__contents"&gt;
          &lt;div <b>data-tab-content="<i>tab-1</i></b>" class="b-tabs__content <b>is-active</b>"&gt;111111111111&lt;/div&gt;
          &lt;div <b>data-tab-content="<i>tab-second</i></b>" class="b-tabs__content"&gt;222222222222&lt;/div&gt;
          &lt;div <b>data-tab-content="<i>tab-третий</i></b>" class="b-tabs__content"&gt;333333333333&lt;/div&gt;
          &lt;div <b>data-tab-content="<i>tab-4</i></b>" class="b-tabs__content"&gt;444444444444&lt;/div&gt;
      &lt;/ul&gt;
  &lt;/div&gt;</pre>
            <h2>JADE</h2>
            <h3>Параметры</h3>
            <table>
                <thead>
                    <tr>
                        <th>Имя</th>
                        <th>Описание</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>data-tab</td>
                        <td>По этому индентификатору открывается контент</td>
                    </tr>
                    <tr>
                        <td>data-tab-content</td>
                        <td>Идентификатор контента</td>
                    </tr>
                </tbody>
            </table>
            <h2>SASS</h2>
            <h3>Параметры — таб</h3>
            <table>
                <thead>
                    <tr>
                        <th>Имя</th>
                        <th>Описание</th>
                        <th>Тип</th>
                        <th>Зн.</th>
                        <th>По-умолчанию</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>$tabs-color</td>
                        <td>Цвет текста</td>
                        <td>color</td>
                        <td>-</td>
                        <td>#337ab7</td>
                    </tr>
                    <tr>
                        <td>$tabs-tab-background</td>
                        <td>Фон таба</td>
                        <td>color</td>
                        <td>-</td>
                        <td>$white</td>
                    </tr>
                    <tr>
                        <td>$tabs-font-size</td>
                        <td>Тип попапа</td>
                        <td>Размер текста</td>
                        <td>px</td>
                        <td>16px</td>
                    </tr>
                    <tr>
                        <td>$tabs-font-family</td>
                        <td>Шрифт</td>
                        <td>string</td>
                        <td>-</td>
                        <td>$font-bold</td>
                    </tr>
                    <tr>
                        <td>$tabs-border-radius</td>
                        <td>Радиус скругления</td>
                        <td>number</td>
                        <td>px</td>
                        <td>3px</td>
                    </tr>
                    <tr>
                        <td>$tabs-border-size</td>
                        <td>Размер бордера</td>
                        <td>number</td>
                        <td>px</td>
                        <td>1px</td>
                    </tr>
                    <tr>
                        <td>$tabs-border-color</td>
                        <td>Цвет бордера</td>
                        <td>color</td>
                        <td>-</td>
                        <td>#eee</td>
                    </tr>
                    <tr>
                        <td>$tabs-horizontal-padding:</td>
                        <td>Горизонтальные паддинги</td>
                        <td>number</td>
                        <td>px</td>
                        <td>10px</td>
                    </tr>
                    <tr>
                        <td>$tabs-height</td>
                        <td>Высота таба</td>
                        <td>number</td>
                        <td>rhythm unit</td>
                        <td>1.5</td>
                    </tr>
                </tbody>
            </table>
            <h3>Параметры — активный таб (active)</h3>
            <table>
                <thead>
                    <tr>
                        <th>Имя</th>
                        <th>Описание</th>
                        <th>Тип</th>
                        <th>Зн.</th>
                        <th>По-умолчанию</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>$tabs-color-active</td>
                        <td>Цвет тектса</td>
                        <td>color</td>
                        <td>-</td>
                        <td>#337ab7</td>
                    </tr>
                    <tr>
                        <td>$tabs-background-color-active</td>
                        <td>Фон таба</td>
                        <td>color</td>
                        <td>-</td>
                        <td>#e6e6e6</td>
                    </tr>
                </tbody>
            </table>
            <h3>Параметры — неактивный (disabled)</h3>
            <table>
                <thead>
                    <tr>
                        <th>Имя</th>
                        <th>Описание</th>
                        <th>Тип</th>
                        <th>Зн.</th>
                        <th>По-умолчанию</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>$tabs-color-disabled</td>
                        <td>Цвет тектса</td>
                        <td>color</td>
                        <td>-</td>
                        <td>#eee</td>
                    </tr>
                    <tr>
                        <td>$tabs-background-color-disabled</td>
                        <td>Фон таба</td>
                        <td>color</td>
                        <td>-</td>
                        <td>#ddd</td>
                    </tr>
                </tbody>
            </table>
            <h3>Параметры — контент</h3>
            <table>
                <thead>
                    <tr>
                        <th>Имя</th>
                        <th>Описание</th>
                        <th>Тип</th>
                        <th>Зн.</th>
                        <th>По-умолчанию</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>$tabs-content-paddings</td>
                        <td>Внутренний отступ внутри контента</td>
                        <td>number</td>
                        <td>px</td>
                        <td>20px</td>
                    </tr>
                </tbody>
            </table>
            <h3>Вживую</h3>
            <div class="b-tabs j-tabs">
                <div class="b-tabs__triggers">
                    <a href="javascript:;" data-tab="tab-1" class="b-tabs__item is-active">Таб 1</a>
                    <a href="javascript:;" data-tab="tab-second" class="b-tabs__item">Таб 2</a>
                    <a href="javascript:;" data-tab="tab-третий" class="b-tabs__item is-disabled">Таб 3</a>
                    <a href="javascript:;" data-tab="tab-4" class="b-tabs__item">Таб 4</a>
                </div>
                <ul class="b-tabs__contents">
                    <div data-tab-content="tab-1" class="b-tabs__content is-active">111111111111</div>
                    <div data-tab-content="tab-second" class="b-tabs__content">222222222222</div>
                    <div data-tab-content="tab-третий" class="b-tabs__content">333333333333</div>
                    <div data-tab-content="tab-4" class="b-tabs__content">444444444444</div>
                </ul>
            </div>
        </div>
        <script src="/scripts/doc.js"></script>
        <script src="/scripts/lib/requirejs/require.min.js" data-main="/scripts/config.js"></script>
    </body>
</html>
